<!DOCTYPE html>
<html>

<head>
    <title>Device Store</title>
    <link rel="stylesheet" href="deviceStore.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <Script src="deviceStore.js" type="text/javascript"></Script>
</head>

<body>
    <div id="container-fluid" class="row bgimg col-12">
        <div class="col-12" id="title">
            <br>
            <h1 class="h1-temp">
                <i class="fab fa-dyalog"></i>eviceland
            </h1>
        </div>
        <div class="row col-12">
            <div class="col-2"></div>
            <div class="col-6" id="search">
                <form action="/deviceStore" method="post">
                    <div class="input-group mb-3">
                        <input type="text" id="key" class="form-control" oninput="search()" name="key" placeholder="Device Name...."
                            aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="submit" id="searchButton">Search</button>
                        </div>
                </form>
            </div>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-light" onclick="window.location.href='/addDevice'" id="addButton">Add
                Device</button>
            <button class="btn btn-outline-light" onclick="load()" id="profileButton">My
                Profile</button>
            <button class="btn btn-outline-light" onclick="logout()" id="logoutButton">Log Out</button>
        </div>
    </div>

    <div class="col-12" id="main">
        <div class="row">
            <% for(var i=0; i < result.length; i++) { %>

            <div class="card " id="card">
                <img class="card-img-top" alt="Card image cap" id="img" src="/images/<%=result[i].photo%> " >
                <div class="card-body">
                    <h5 style="text-align: center" class="card-title">
                        <b>
                            <%=result[i].dName%></b>
                    </h5>
                    <p style="text-align: center" class="card-text">
                        <%=result[i].desc%>
                    </p>
                    <p style="text-align: center" class="card-text" id=<%=result[i].dId %> >
                        <button class="btn btn-primary resultBTN"  value= <%=result[i].status%> >
                            <%=result[i].status%></button>
                    </p>
                </div>
            </div>
            <%}%>
        </div>

    </div>
    </div>

</body>

</html>